/* .btn{
    background-color: rgb(3, 162, 211);
    color: white;
    padding: 10px 20px;
    border-radius: 0.5rem;
    border: 1px dashed black;
    cursor: pointer;
  }
  .btn:hover{
    background-color: rgb(4, 190, 190);
    font-size: 1rem;
    color: black;
  } */